div.popup {
	border: 1px solid black;
	background-color: white;
	z-index: 1;
	position: absolute;
	min-width: 30ch;
	padding: 2%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.popup > * {
	margin: 1%;
	margin-top: 2%;
}

span.colName {
	font: 12px monospace;
	display: inline-block;
	width: 10ch;
}

