.App {
	font: 14px monospace;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.App > * {
}

input[type=button] {
	background-color: white;
	border: 1px solid gray;
	font: 8px monospace;
}

input[type=button]:hover {
	background-color: hsl(0, 0%, 90%);;
}

span.title {
	font: 20px sans-serif;
	font-weight: bold;
}

#logo-div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#logo-img {
	height: 30px;
	margin-right: 5px;
}

