.menulist {
	position: absolute;
	font: 12px sans-serif;
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 20ch;
	box-shadow: 1px 1px 10px 1px hsl(195, 49%, 82%);
	z-index: 1;
}

.menulist-item {
	padding: 3px;
	margin-left: 3px;
}

.menulist-item:hover {
	background-color:  hsl(195, 49%, 95%);
	cursor: default;
}

