tr.table-row:hover {
	background-color: hsl(0, 0%, 90%);
}

.Table-View {
}

.Resizable-Table-View {
	display: flex; 
	flex-direction: row;
}

.box {
  border: 1px solid black;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.resiz-inside {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.resiz-inside span {
	width: 100%;
	white-space: normal;
	word-wrap: break-word;
	text-align: center;
}


.hover-handles .react-resizable-handle {
  display: none;
}

.hover-handles:hover .react-resizable-handle {
  display: block;
}

.absolutely-positioned {
  position: absolute !important;
}

.custom-box {
  overflow: hidden;
}

.custom-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}


